.subsection {
  border: 2px solid #000000;
  border-radius: 5px;
  width: 62vw;
}

.subsection1 {
  height: 49vh;
  width: 100%;
}

.subsection2 {
  height: 15vh;
  width: 99%;
}

.hide {
  background-color: #D2D2D2;
}

p.hide {
  color: #939393;
}

p.bold {
  font-weight: bold;
}

.question {
  font-size: clamp(8px, 1.5vh, 14px);
  /* Minimum 16px, scales with viewport, max 24px */
  font-weight: 600;
  display: inline;
  max-width: fit-content;
  text-align: left;
}

.questionBox {
  display: flex;
  height: 13%;
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
  justify-content: flex-start;
  align-items: center;
}

.answerBox {
  display: flex;
  height: 70vh;
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: clamp(4px, 1.5vh, 16px);
  /* Responsive font size for answerBox */
}

.questionBoxPart2 {
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 99%;
  text-align: left;
  height: 30%;
}

.question-blue {
  color: #228B22;
  font-size: clamp(15px, 2vh, 16px);
  /* Responsive font size for blue question text */
}

.question-red {
  color: #F08080;
  font-size: clamp(15px, 2vh, 16px);
  /* Responsive font size for blue question text */
}

.questionBoxPart3 {
  margin-top: 3%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 99%;
  text-align: left;
  height: 30%;
}